/*  COLORS */

 // Useful greys

 $black: #222222;
 $white: #ffffff;

 $palegrey: #fafafa;

 $lightgrey: #efefef;
 $midgrey:  #aaaaaa;
 $darkgrey: #333333;

 // brand colours

 $pink: #e91e63;
 $sp-teal: #005558;
 $ss-blue: #0078d8;
 $tt-purple: #5d3289;
 $ht-orange: #fd7732;
 $db-grey: #617d8d;
 $sw-yellow: #ffc200;
