@import "_normalize";
@import "_common";
@import "_colors";

html{
  // set rems
  font-size: 16px;
}

.row{
  height: 30rem;
}

#map{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

form{
  display:block;
}

@import "custom-range-slider";

//Demo stuff
body {
  font-family: Helvetica Neue, Helvetica, Arial;
  font-weight: 300;
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  min-height: 100%;
  height: auto;
}

form {
  width:80%;
  margin: 0 auto;
}


// charts

.charts{
  display:flex;
}

.chart-wrapper{
  position: relative;
  height: 40rem;

}
.chart--pie{
  display:flex;
  align-items: center;
  h2{
    position: absolute;
    text-align: center;
    top:0;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.2rem;
    z-index: 100;
  }
  .value__unit{
    font-size: 0.5em;
    position: relative;
    top: -0.7em;
    left: 0.2em;
  }
}

.chart--pie__value{
  z-index: 20;
  text-align:center;
  font-size: 1.5rem;
  width: 100%;
}

.chart--pie__bm{
  position:absolute;
  bottom:0;
}

.chart--bm{
  pointer-events:none;
  z-index: 20;
}

.chart{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}

.navbar{
  height: 3rem;
  background: $pink;
  color: white;
  button{
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 0;
  }
  use{
    fill: white;
  }
}

.filters{
  position: absolute;
  width: 20rem;
  height: 100%;
  z-index: 10;
  background: white;
  padding: 0.5rem;
  h2, h3{
    text-align:left;
  }
}

.checkbox-group{
  margin: 1rem 0;
}

// google charts tooltip flicker bugfix

svg[aria-label="A chart."] > g > g:last-child {
  pointer-events: none
}
