<% include partials/header.html.ejs %>

  <!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout
            mdl-layout--fixed-header"> <!-- removed mdl-layout--fixed-drawer -->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Home</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>
      </div>
    </div>
  </header>
  <!-- <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <div id="tree1" style="height: 20rem;"></div>
    </nav>
  </div> -->
  <main class="mdl-layout__content">
    <div class="page-content">


<div class="mdl-grid">
  <!-- <div class="mdl-cell mdl-cell--6-col row chart-wrapper">
    <div id="map"></div>
    <form oninput="updateMarkers(Math.round(range.valueAsNumber))">
    <div class="range">
      <input name="range" type="range" value="0" min="0">
      <div class="range-output">
        <output class="output" name="rangeOutput" for="range">
          0
        </output>
      </div>
    </div>
  </form>
  </div> -->
  <div class="mdl-cell mdl-cell--6-col chart-wrapper">
    <h2>Progress</h2>
    <div id="chart_PROG" class="chart"></div>
  </div>
  <div class="mdl-cell mdl-cell--3-col chart-wrapper chart--pie">
    <h2>Delivery</h2>
    <div id="chart_DEL" class="chart"></div>
  </div>
  <div class="mdl-cell mdl-cell--3-col chart-wrapper chart--pie">
    <h2>Viewability</h2>
    <div id="chart_VB" class="chart"></div>
  </div>
  <div class="mdl-cell mdl-cell--3-col chart-wrapper chart--pie">
    <h2>Time in View</h2>
    <div id="chart_TIV" class="chart"></div>
  </div>
  <div class="mdl-cell mdl-cell--3-col chart-wrapper chart--pie">
    <h2>Completions (Passive)</h2>
    <div id="gauge1" class="chart"></div>
  </div>
</div>

    </div>
  </main>
</div>


    <% include partials/footer.html.ejs %>
